body {
  background-color: #F0EEEE;
}

.layout .header {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.layout .header header {
  background-color: #fff;
  height: 1.12rem;
  line-height: 1.12rem;
  font-size: 0.34rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: #333;
}

.layout .header header .back {
  position: absolute;
  width: 0.22rem;
  height: 0.4rem;
  left: 0.24rem;
  top: 0.36rem;
}

.layout .header header .back img {
  width: 100%;
  transform: rotate(180deg);
}

.layout .header .tab {
  height: 0.64rem;
  background-color: #fff;
  text-align: center;
}

.layout .header .tab a {
  display: inline-block;
  width: 1.6rem;
  height: 0.64rem;
  color: #333;
  font-size: 0.3rem;
  line-height: 0.64rem;
}

.layout .header .tab a.active {
  color: #3B82EE;
  border-bottom: 0.05rem solid #3B82EE;
}

.layout .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.76rem;
  bottom: 0.9rem;
}

.layout .content .mui-table-view {
  margin-top: 0.1rem;
  background-color: #F0EEEE;
}

.layout .content .mui-table-view:before {
  height: 0;
}

.layout .content .mui-table-view:after {
  height: 0;
}

.layout .content li {
  background-color: #fff;
  padding: 0.11rem 0.3rem;
  position: relative;
}

.layout .content li:after {
  left: 0;
}

.layout .content li .selected,
.layout .content li .default {
  width: 0.36rem;
  height: 0.36rem;
  position: absolute;
  left: 0.25rem;
  top: 0.3rem;
}

.layout .content li .left {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ccc;
  float: left;
  margin-left: 0.58rem;
}

.layout .content li .right {
  float: left;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.3rem;
  color: #333;
  margin-left: 0.22rem;
}

.layout .footer {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.28rem;
  padding: 0 0.3rem;
}

.layout .footer span {
  float: left;
  color: #3B82EE;
}

.layout .footer span i {
  font-style: normal;
}

.layout .footer a {
  float: right;
  width: 1.2rem;
  line-height: 0.6rem;
  height: 0.6rem;
  background-color: #3B82EE;
  color: #fff;
  text-align: center;
  margin-top: 0.15rem;
  border-radius: 0.04rem;
}
