body {
    background-color: #F0EEEE;
}
.layout {
    header {
        background-color: #fff;
        height:1.12rem;
        line-height: 1.12rem;
        font-size: 0.34rem;
        font-weight: 600;
        text-align: center;
        position: relative;
        color: #333;
        .back {
            position: absolute;
            width: 0.22rem;
            height: 0.4rem;
            left: 0.24rem;
            top: 0.36rem;
            img {
                width: 100%;
                transform: rotate(180deg);
            }
        }
        .edit {
            position: absolute;
            width: 0.44rem;
            height: 0.44rem;
            right: 1.26rem; 
            top: 0.34rem;
            img {
                width: 100%;
            }
        }
        .message {
            position: absolute;
            width: 0.44rem;
            height: 0.44rem;
            right: 0.4rem; 
            top: 0.34rem;
            img {
                width: 100%;
            }
            span {
                position: absolute;
                width: 0.14rem;
                height: 0.14rem;
                background-color: red;
                border-radius: 50%;
                top: -0.04rem;
                right: -0.04rem;
            }
        }
    }
    .content {
        .mui-table-view {
            background-color: #F0EEEE;
            &:after {
                height: 0;
            }
        }
        li {
            height: 1.5rem;
            overflow: hidden;
            margin-bottom: 0.2rem;
            background-color: #fff;
            padding: 0;
            &:after {
                height: 0;
            }
            .mui-btn {
                padding: 0 0.3rem;
            }
            .edit {
                background-color: #3B82EE;
            }
            .delete {
                background-color: #9E9E9E;
            }
            .left {
                float: left;
                height: 0.8rem;
                width: 0.8rem;
                background-color: #ccc;
                margin: 0.05rem 0.21rem 0.15rem 0.29rem;
            }
            .right {
                padding-left: 1.3rem;
                h4 {
                    margin-top: 0.14rem;
                    font-size: 0.3rem;
                    height: 0.46rem;
                    line-height: 0.46rem;
                    font-weight:500;
                    color:rgba(51,51,51,1);
                }
                p {
                    height: 0.46rem;
                    line-height: 0.46rem;
                    font-size: 0.24rem;
                    font-weight:500;
                    color: #999;
                    img {
                        display: inline-block;
                        width: 0.31rem;
                        height: 0.27rem; 
                        margin-right: 0.06rem;
                        vertical-align: middle;
                        margin-bottom: 0.05rem;
                    }
                }
            }
        }
    }
}