body {
  background-color: #F0EEEE;
}

.layout header {
  background-color: #fff;
  height: 1.12rem;
  line-height: 1.12rem;
  font-size: 0.34rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: #333;
}

.layout header .back {
  position: absolute;
  width: 0.22rem;
  height: 0.4rem;
  left: 0.24rem;
  top: 0.36rem;
}

.layout header .back img {
  width: 100%;
  transform: rotate(180deg);
}

.layout header .edit {
  position: absolute;
  width: 0.44rem;
  height: 0.44rem;
  right: 1.26rem;
  top: 0.34rem;
}

.layout header .edit img {
  width: 100%;
}

.layout header .message {
  position: absolute;
  width: 0.44rem;
  height: 0.44rem;
  right: 0.4rem;
  top: 0.34rem;
}

.layout header .message img {
  width: 100%;
}

.layout header .message span {
  position: absolute;
  width: 0.14rem;
  height: 0.14rem;
  background-color: red;
  border-radius: 50%;
  top: -0.04rem;
  right: -0.04rem;
}

.layout .content .mui-table-view {
  background-color: #F0EEEE;
}

.layout .content .mui-table-view:after {
  height: 0;
}

.layout .content li {
  height: 1.5rem;
  overflow: hidden;
  margin-bottom: 0.2rem;
  background-color: #fff;
  padding: 0;
}

.layout .content li:after {
  height: 0;
}

.layout .content li .mui-btn {
  padding: 0 0.3rem;
}

.layout .content li .edit {
  background-color: #3B82EE;
}

.layout .content li .delete {
  background-color: #9E9E9E;
}

.layout .content li .left {
  float: left;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #ccc;
  margin: 0.05rem 0.21rem 0.15rem 0.29rem;
}

.layout .content li .right {
  padding-left: 1.3rem;
}

.layout .content li .right h4 {
  margin-top: 0.14rem;
  font-size: 0.3rem;
  height: 0.46rem;
  line-height: 0.46rem;
  font-weight: 500;
  color: #333333;
}

.layout .content li .right p {
  height: 0.46rem;
  line-height: 0.46rem;
  font-size: 0.24rem;
  font-weight: 500;
  color: #999;
}

.layout .content li .right p img {
  display: inline-block;
  width: 0.31rem;
  height: 0.27rem;
  margin-right: 0.06rem;
  vertical-align: middle;
  margin-bottom: 0.05rem;
}
