@charset "UTF-8";
.fl {
  float: left;
}

.fr {
  float: right;
}

.redf7 {
  color: #f72e41;
}

ul, li, dd, dt {
  box-sizing: border-box;
}

.tac {
  text-align: center;
}

.h3 {
  font-size: 4.8vw;
}

.p {
  font-size: 3.73333vw;
}

.font-num {
  font-size: 5.33333vw;
}

.c666 {
  color: #666666;
}

.c999 {
  color: #999999;
}

.p24 {
  padding: 0 3.2vw;
}

.border-radius10 {
  border-radius: 1.33333vw;
}

.border-radius5 {
  border-radius: 0.66667vw;
}

.posr {
  position: relative;
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", '微软雅黑', Tahoma, Arial, sans-serif;
  color: #333333;
}

.app {
  margin-top: 0;
  width: 100%;
  overflow: hidden;
}

a {
  color: #333333;
}

a:hover {
  color: #333333;
}

.list_ul {
  font-size: 4.8vw;
  margin-top: 5px;
  margin-bottom: 3.33333vw;
}

.list_ul_top {
  line-height: 7.6vw;
  overflow: hidden;
  font-size: 4.8vw;
}

.list_ul i {
  font-style: normal;
}

.list_ul_center {
  line-height: 7.86667vw;
  font-size: 4.8vw;
}

.list_ul_bottom {
  line-height: 7.33333vw;
  font-size: 3.73333vw;
  display: inline-block;
  background: #eee;
  margin: 1.6vw 0;
  padding: 0 1.06667vw;
  border-radius: 7.33333vw;
  color: #666666;
}

.list_ul_bottom span {
  margin-left: 2.66667vw;
}

.list_ul li {
  padding: 3.46667vw;
  border-bottom: 1px solid #f0eeee;
}

.circle {
  display: inline-block;
  width: 5.86667vw;
  height: 5.86667vw;
  border-radius: 50%;
  background: #b7b8b7;
  text-align: center;
  line-height: 5.86667vw;
  color: #fff;
  margin-right: 1.86667vw;
}

.d2 {
  background: #059dfd;
}

.d3 {
  background: #36be46;
}

.d4 {
  background: #fba056;
}

.d5 {
  background: #fe649e;
}

.d6 {
  background: #ff4c5d;
}

.d7 {
  background: #d84967;
}

.img_circle {
  vertical-align: middle;
  width: 6.66667vw;
  height: 6.66667vw;
  margin-left: 0;
  margin-right: 2.93333vw;
}
