body {
  background-color: #F0EEEE;
}

.layout header {
  background-color: #fff;
  height: 1.12rem;
  line-height: 1.12rem;
  font-size: 0.34rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: #333;
}

.layout header .back {
  position: absolute;
  width: 0.22rem;
  height: 0.4rem;
  left: 0.24rem;
  top: 0.36rem;
}

.layout header .back img {
  width: 100%;
  transform: rotate(180deg);
}

.layout .content {
  position: relative;
  padding: 0.2rem 0.1rem;
}

.layout .content .mui-table-view {
  background-color: #F0EEEE;
}

.layout .content .mui-table-view:before {
  height: 0;
}

.layout .content .mui-table-view:after {
  height: 0;
}

.layout .content .mui-table-view-cell:after {
  height: 0;
}

.layout .content li {
  margin-bottom: 0.2rem;
  background-color: #fff;
}

.layout .content li .left {
  width: 1.5rem;
  height: 1.5rem;
  max-width: 1000px;
}

.layout .content li .right {
  height: 1.5rem;
  padding: 0.23rem 0;
  font-size: 0.34rem;
  color: #333;
}

.layout .content li .right p {
  font-size: 0.26rem;
  color: #333;
  line-height: 0.7rem;
}

.layout .content li .right p img {
  display: inline-block;
  width: 0.28rem;
  height: 0.28rem;
  margin-bottom: 0.05rem;
  vertical-align: middle;
}

.layout .content li .btn {
  position: absolute;
  right: 0.2rem;
  top: 0.65rem;
  width: 1.5rem;
  height: 0.5rem;
}

.layout .content li .btn a {
  display: block;
}

.layout .content li .btn a img {
  width: 100%;
}
