ul, li, dd, dt {
  box-sizing: border-box; }

a {
  color: #333333; }

.tac {
  text-align: center; }

.h3 {
  font-size: 4.8vw; }

.p {
  font-size: 3.7333333333vw; }

.font-num {
  font-size: 5.3333333333vw; }

.c666 {
  color: #666666; }

.c999 {
  color: #999999; }

.p24 {
  padding: 0 3.2vw; }

.border-radius5 {
  border-radius: 1.3333333333vw; }

.posr {
  position: relative; }

.disn {
  display: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  background: #f9f9f9;
  color: #333333; }

.app {
  overflow: hidden;
  margin-top: 0; }

.mb15 {
  margin-bottom: 2vw; }

.header {
  box-sizing: border-box;
  height: 46.6666666667vw;
  background: #fff;
  padding: 6.6666666667vw 4.6666666667vw; }
  .header_dl {
    overflow: hidden; }
  .header dt {
    float: left;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 6.9333333333vw; }
    .header dt img {
      width: 100%; }
  .header dd {
    float: left;
    margin-left: 5.3333333333vw; }
  .header h3 {
    color: #000;
    line-height: 11.7333333333vw;
    font-size: 4.2666666667vw; }
  .header p {
    font-size: 3.7333333333vw;
    line-height: 8.5333333333vw; }
  .header .tiaojian {
    padding-left: 4vw;
    color: #000; }
    .header .tiaojian img {
      width: 10.6666666667vw;
      height: 4vw;
      display: inline-block;
      vertical-align: middle;
      margin: 0 6.4vw; }

.container {
  box-sizing: border-box;
  background: #fff;
  padding: 5.0666666667vw 4.6666666667vw; }
  .container h3 {
    color: #000;
    display: block;
    height: 5.6vw;
    margin-bottom: 14.2666666667vw;
    font-size: 3.7333333333vw; }
    .container h3 i {
      display: inline-block;
      background: url("../../img/d_07.jpg") no-repeat 0 0;
      width: 5.6vw;
      height: 5.6vw;
      background-size: 100%;
      vertical-align: text-top;
      margin-right: 2.6666666667vw; }
  .container .line {
    width: 100%;
    height: 1.3333333333vw;
    background: #efedee;
    border-radius: 1.3333333333vw;
    position: relative;
    margin-bottom: 6.6666666667vw; }
  .container .range {
    position: absolute;
    height: 12.9333333333vw;
    font-size: 3.7333333333vw;
    bottom: -1.3333333333vw;
    left: 10%; }
    .container .range p {
      line-height: 9.7333333333vw;
      text-align: center; }
    .container .range span {
      width: 2.6666666667vw;
      height: 2.6666666667vw;
      background: #428efe;
      border-radius: 50%;
      display: block;
      margin: 0 auto; }
  .container .range1 {
    left: auto;
    right: 5%; }
  .container .count {
    line-height: 4.8vw;
    text-align: center; }

.statusBox {
  box-sizing: border-box;
  background: #fff;
  padding: 5.0666666667vw 4.6666666667vw; }
  .statusBox h3 {
    color: #000;
    display: block;
    height: 5.6vw;
    margin-bottom: 14.2666666667vw;
    font-size: 3.7333333333vw;
    padding-left: 3.2vw;
    position: relative; }
  .statusBox h3:before {
    content: '';
    position: absolute;
    width: 0.8vw;
    height: 100%;
    background: #428efe;
    left: 0vw; }
  .statusBox .shenhe {
    background: linear-gradient(to right, #bbb, #eee);
    color: #000; }
  .statusBox .refuse {
    background: linear-gradient(to right, #bbb, #eee);
    color: #960000; }
  .statusBox .pass {
    background: linear-gradient(to right, #589efe, #83b9f9);
    color: #fff; }
  .statusBox .circle {
    width: 29.3333333333vw;
    height: 29.3333333333vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    line-height: 29.3333333333vw;
    margin-bottom: 4vw; }
  .statusBox p {
    text-align: center; }

.apply {
  position: fixed;
  width: 84%;
  height: 10.6666666667vw;
  line-height: 10.6666666667vw;
  font-weight: bold;
  letter-spacing: 1.3333333333vw;
  font-size: 4.2666666667vw;
  background: #fff;
  color: #428efe;
  bottom: 2.6666666667vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  left: 8%;
  border-radius: 5.3333333333vw;
  text-align: center;
  z-index: 9999; }

/*# sourceMappingURL=myRoadDetail.css.map */
